@page
@model FirstApp.Pages.Repositories.IndexModel

@{
    ViewData["Title"] = "Repositories";
}



<div class="card mt-5">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h4 class="mb-0">All Repositories </h4>
            <a asp-page="Create" class="btn btn-primary btn-sm">New Repository</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Repositories[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Repositories[0].Description)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Repositories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
