@page
@model FirstApp.Pages.Designer.IndexModel

@{
    ViewData["Title"] = "Designer";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/Index">
                <i class="fa-solid fa-home"></i> Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Designer/Index">
                <i class="fa-solid fa-list"></i> Designer
            </a>
        </li>
    </ol>
</nav>

<div class="card shadow">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h4 class="mb-0"> <i class="fa-solid fa-list me-1"></i> Repositories </h4>
            <a asp-page="Create" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-plus"></i> New Repository
            </a>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Repositories.Any())
        {
            <div class="list-group">
                @foreach (var item in Model.Repositories)
                {
                    <div class="list-group-item list-group-item-action">
                        <div class="row align-items-center">
                            <div class="col" style="cursor: pointer;" onclick="window.location.href='@Url.Page("./Details", new { id = item.Id })'">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-1">@item.Name</h5>
                                    <div class="d-flex align-items-center">
                                       
                                        <a asp-page="./Edit" asp-route-id="@item.Id" class="mx-1">
                                            Edit
                                        </a>
                                        |
                                        <a asp-page="./Delete" asp-route-id="@item.Id" class="mx-1">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <p class="mb-1 text-muted">@item.Description</p>
                                }
                            </div>
                                
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="text-muted">No repositories found. Create one to get started.</p>
        }
    </div>
</div>
